<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
</head>
<body>

    <header>

    </header>

    <main>
        
        <form method="POST" action="/products/editar/<%= productos.id%>" enctype="multipart/form-data">
                     
            <label for="referencia">nombreProducto</label>
            <input name="referencia" type="text" value="<%= productos.referencia%>">
            <label for="fabricante">fabricante</label>
            <input name="fabricante" type="text" value="<%= productos.fabricante%>">
            <label for="descripcion">descripcion</label>
            <input name="descripcion" type="text" value="<%= productos.descripcion%>">
            <!-- atencion pendiente subir archivos multer-->
            <label for="image"></label>
            <input type="file" name="imagenProducto" >

            <!-- <label for="categoríaProducto">categoria</label>            
                <select name="category"> -->
                    <!-- CategoriasProd es de vistaCrear: en productsController.js -->
                   <!-- aqui en categoria revisar el crearProducto.ejs for con categoria DB -->
                <!-- </select> -->
            <!-- <input type="checkbox" name="" id=""> -->
            
            <label for="precioProducto"></label>
            <input name="precio" type="number" value="<%= productos.precio%>">
            <label for="stock"></label>
            <input name="stock" type="number" value="<%= productos.stock%>">
                <button type="submit">Actualizar</button>
                
        </form>
       
    </main>

    <footer>

    </footer>
    
</body>
</html>